<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.zxing.client.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Based on zxing + CaptureActivity -->
    <!-- @author Dmitry Ponomarev (demdxx@gmail.com) -->
    
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="10" />

</manifest>